@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jolly+Lodger&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, button, input, textarea, select {
  font-family: "Roboto Mono", serif;
}

/* Estilo global para aumentar o tamanho do texto */
h1, h2, h3 {
  font-size: 2rem;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
  margin: 1rem;
}

/* Estilizando botões */
button {
  background: linear-gradient(135deg, #ff7eb3, #ff758c);
  color: white;
  font-size: 18px; /* Reduzindo o tamanho da fonte */
  padding: 15px 30px; /* Reduzindo o padding */
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  margin: 1rem;
}

button:hover {
  transform: scale(1.05); /* Leve aumento para não exagerar */
  background: linear-gradient(135deg, #ff758c, #ff7eb3);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 0.8s ease-in-out forwards;

}

.github-logo {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  opacity: 0.8;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.github-logo img {
  width: 100%;
  height: 100%;
}

.github-logo:hover {
  transform: scale(1.1);
  opacity: 1;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



/* Responsividade */
@media (max-width: 768px) {
  body {
    padding: 1rem; /* Menos espaçamento nas laterais */
  }

  h1, h2, h3 {
    font-size: 1.8rem; /* Fontes menores */
  }

  button {
    font-size: 16px; /* Diminuindo o tamanho da fonte */
    padding: 12px 24px; /* Botões mais compactos */
    margin: 1rem;
  }


  .content-container {
    padding: 15px; /* Menos padding */
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  h1, h2, h3 {
    font-size: 1.5rem; /* Fontes ainda menores */
  }

  button {
    font-size: 14px; /* Fontes bem menores */
    padding: 10px 20px; /* Botões mais compactos */
    margin: 1rem;
  }

  input, textarea, select {
    font-size: 12px; /* Fontes bem menores */
    padding: 6px; /* Padding bem reduzido */
  }
}
